{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}

{% block content %}
<h2>Checkout</h2>

<form method="POST">

    <label for="name">Full Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="address">Shipping Address:</label><br>
    <textarea id="address" name="address" required></textarea><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <h3>Order Summary:</h3>
    <ul>
        {% for item in cart %}
            <li>{{ item.product }} — ₹{{ item.price }}</li>
        {% endfor %}
    </ul>

    <p><strong>Total:</strong> ₹{{ 250 }}</p>
    <a href="{{ url_for('products') }}">← Back to Products</a>


    <button type="submit">Place Order</button>
</form>
{% endblock %}
